.tooltip {
  border-radius: var(--radius);
  padding: 1px var(--space-1);
  font-size: var(--font-size-xs);
  font-weight: 900;

  display: none;
  position: fixed;
  z-index: var(--z-popover);
  top: 0;
  left: 0;

  background-color: var(--gray-12);
  color: var(--gray-1);
  pointer-events: none;
}
