.button {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-family: inherit;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.15s ease;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.fullWidth {
    width: 100%;
  }

  &.loading {
    opacity: 0.75;
    color: transparent;

    > *:not(.loader) {
      opacity: 0;
    }
  }

  .loader {
    position: absolute;
    color: var(--gray-12);
  }

  svg {
    min-width: 1em;
  }
}

.tooltip {
  pointer-events: none;
  text-wrap: nowrap;

  border-radius: 5px;
  border: 1px solid var(--gray-6);
  background-color: var(--gray-3);
  color: var(--gray-11);
  padding: 2px 4px;
  font-size: var(--font-size-xs);
  font-weight: 900;
}

.sm {
  height: 25px;
  padding: var(--input-padding-sm);
  font-size: var(--font-size-sm);

  .loader {
    width: 12px;
    height: 12px;
  }
}

.md {
  height: 30px;
  padding: var(--input-padding-md);
  font-size: var(--font-size-md);

  .loader {
    width: 14px;
    height: 14px;
  }
}

.lg {
  height: 35px;
  padding: var(--input-padding-lg);
  font-size: var(--font-size-lg);

  .loader {
    width: 16px;
    height: 16px;
  }
}

.solid {
  color: #fff;
  background-color: var(--accent-9);
  border: 1px solid var(--accent-9);

  &:hover:not(:disabled) {
    background-color: var(--accent-10);
    border-color: var(--accent-10);
  }

  &:active:not(:disabled) {
    background-color: var(--accent-11);
    border-color: var(--accent-11);
  }

  &:focus-visible {
    outline: 2px solid var(--accent-9);
    outline-offset: 2px;
  }
}

.outline {
  color: var(--accent-9);
  background-color: transparent;
  border: 1px solid var(--accent-9);

  &:hover:not(:disabled) {
    background-color: var(--accent-3);
  }

  &:active:not(:disabled) {
    background-color: var(--accent-4);
  }

  &:focus-visible {
    outline: 2px solid var(--accent-9);
    outline-offset: 2px;
  }
}

.ghost {
  color: var(--accent-9);
  background-color: transparent;
  border: 1px solid transparent;

  &:hover:not(:disabled) {
    background-color: var(--accent-3);
  }

  &:active:not(:disabled) {
    background-color: var(--accent-4);
  }

  &:focus-visible {
    outline: 2px solid var(--accent-9);
    outline-offset: 2px;
  }
}
