.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2px;

  .title {
    font-size: 12px;
    font-weight: 500;
    color: var(--accent-9);
  }

  .conditions {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  .condition {
    cursor: default;
    font-size: 12px;
    font-weight: 900;

    min-width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--gray-6);
    border-radius: 5px;
    padding: 2px 3px;

    &.negated {
      background-color: var(--accent-3);
      border-color: var(--accent-9);
      text-decoration: line-through;
    }
  }

  .addCondition {
    width: 25px;
    height: 25px;

    padding: 0;
    font-size: 25px;
    font-weight: 900;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.tooltip {
  border-radius: 5px;
  padding: 1px 3px;
  font-size: 10px;
  font-weight: 900;

  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  background-color: white;
  color: black;
  pointer-events: none;

  content: "";
}
