.modal {
  display: flex;
  gap: 10px;
}

.configViewer {
  flex: 1;
  width: 700px;
  height: 500px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid var(--gray-3);
  border-radius: 5px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
