.wrapper {
  --button-height: 25px;
  --gap: 3px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .elementList {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    max-height: calc(var(--button-height) * 2 + var(--gap));
    overflow-y: auto;

    button {
      height: var(--button-height);
      text-transform: capitalize;
    }
  }

  .configSection {
    padding-top: 10px;
    border-top: 1px solid var(--gray-6);
  }
}
