.wrapper {
  --button-height: 25px;
  --gap: 3px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);

  .elementList {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-1);
    max-height: calc(var(--button-height) * 2 + var(--gap));
    overflow-y: auto;

    button {
      height: var(--button-height);
      text-transform: capitalize;
    }
  }

  .configSection {
    padding-top: var(--space-2);
    border-top: 1px solid var(--border-strong);
  }
}
