.tournamentLoader {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .inputContainer {
    display: flex;
    gap: 10px;
    align-items: flex-end;
  }
}

.error input {
  color: red;

  border-color: red;
}
