.templateEditor {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  min-height: 0;
  overflow-y: auto;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  .viewMode {
    width: fit-content;
    border: 1px solid var(--gray-6);
    border-radius: 5px;

    button {
      &:first-child {
        border-radius: 5px 0 0 5px;
      }
      &:last-child {
        border-radius: 0 5px 5px 0;
      }
    }
  }

  .templateGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .groupHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;

      button {
        height: 16px;
        padding: 4px 2px;
        border-radius: 5px;
        cursor: pointer;

        &.collapsed svg {
          transform: rotate(180deg);
        }
      }
    }

    .groupName {
      font-size: var(--font-size-md);
      font-weight: 600;
      color: var(--accent-9);
    }
  }

  .templates {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 100%;

    transition: max-height 0.1s ease-in-out;

    &.grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }

    .template {
      cursor: pointer;
      border: 3px solid var(--gray-9);
      border-radius: 5px;
      transition: border-color 0.1s ease-in-out;
    }

    .template:hover {
      border-color: var(--gray-10);
    }

    .createCustomCard {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 8px 16px;
      background: var(--gray-3);
      color: var(--gray-11);
      font-size: var(--font-size-sm);
      font-weight: 800;
      transition: all 0.15s ease-in-out;

      &:hover {
        background: var(--gray-4);
        color: var(--gray-12);
        border-color: var(--accent-9);
      }
    }

    &.collapsed {
      max-height: 0;
      overflow: hidden;
    }
  }
}
