.templateEditor {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .templates {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .template {
      cursor: pointer;
      border: 3px solid var(--gray-9);
      border-radius: 5px;
      overflow: hidden;
      transition: border-color 0.1s ease-in-out;
    }

    .template:hover {
      border-color: var(--gray-10);
    }
  }
}
