.colorPaletteEditor {
  width: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 3px;

  .row {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  span {
    flex: 1;
    font-size: var(--font-size-md);
    font-weight: 600;
  }
}
