.wrapper {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 3px;

  .row {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  span {
    flex: 1;
    font-size: var(--font-size-md);
    font-weight: 600;
  }
}
