.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
  gap: 5px;

  button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 35px;
    aspect-ratio: 1;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: #222;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover:not(:disabled) {
      border-color: var(--accent-9);
    }

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }

    .delete {
      pointer-events: none;
      opacity: 0;
      z-index: 1000;

      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;

      background-color: var(--accent-9);

      transition: opacity 0.1s ease-in-out;

      svg {
        width: 90%;
        height: 90%;
      }
    }

    &.selected {
      border-color: var(--accent-9);
      background-color: var(--accent-4);
    }

    &.selected:not(.only):hover {
      .delete {
        opacity: 1;
      }
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
