.container {
  --selected-alt: 0;
  --num-alts: 8;
  --alt-gap: 4px;

  display: flex;
  gap: var(--alt-gap);

  border-radius: 8px;

  width: fit-content;
  position: relative;

  border: 2px solid rgba(255, 255, 255, 0.3);

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: calc(
      (100% - (var(--num-alts) - 1) * var(--alt-gap)) / var(--num-alts)
    );
    top: 0;
    left: 0;

    outline: 2px solid var(--accent-9);
    border-radius: 8px;

    transform: translateX(calc(var(--selected-alt) * (100% + var(--alt-gap))));
    transition: transform 0.15s ease-in-out;
  }

  &:has(input:disabled) {
    cursor: not-allowed;
    opacity: 0.5;

    &:before {
      content: none;
    }
  }
}

.label {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;

  padding: 5px;

  width: 40px;
  height: 40px;

  input {
    display: none;
  }

  img {
    object-fit: contain;
  }

  &:has(input:disabled) {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:hover:not(:has(input:disabled)) {
    background-color: var(--accent-3);
  }
}
