.container {
  --selected-alt: 0;
  --num-alts: 8;
  --alt-gap: 5px;

  position: relative;
  display: flex;
  gap: var(--alt-gap);

  border: 2px solid rgba(255, 255, 255, 0.3);

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: calc(
      (100% - (var(--num-alts) - 1) * var(--alt-gap)) / var(--num-alts)
    );
    top: 0;
    left: 0;

    outline: 2px solid var(--accent-9);
    transform: translateX(calc(var(--selected-alt) * (100% + var(--alt-gap))));
    transition: transform 0.15s ease-in-out;
  }

  &:has(input:disabled) {
    cursor: not-allowed;
    opacity: 0.5;

    &:before {
      content: none;
    }
  }
}

.label {
  flex: 1;

  max-height: 40px;
  aspect-ratio: 1 / 1;
  position: relative;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px;

  input {
    display: none;
  }

  img {
    object-fit: contain;
    height: 100%;
  }

  &:has(input:disabled) {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:hover:not(:has(input:disabled)) {
    background-color: var(--accent-3);
  }
}

.tooltip {
  pointer-events: none;
  text-wrap: nowrap;

  border-radius: 5px;
  border: 1px solid var(--gray-6);
  background-color: var(--gray-3);
  color: var(--gray-11);
  padding: 2px 4px;
  font-size: var(--font-size-xs);
  font-weight: 900;
}

.container,
.container:before,
.label {
  border-radius: 8px;
}
