.container {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  align-items: center;
}

.label {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  transition: border-color 0.2s ease, background-color 0.2s ease,
    transform 0.2s ease;

  width: 40px;
  height: 40px;

  input {
    display: none;
  }

  img {
    object-fit: contain;
  }

  &.selected {
    border-color: var(--accent-9);
    background-color: var(--accent-4);
  }

  &:has(input:disabled) {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:hover:not(:has(input:disabled)) {
    border-color: var(--accent-9);
    background-color: var(--accent-3);
    transform: scale(0.95);
  }
}

