@use "@/_theme" as *;

.previewContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  background: #1a1a1a;

  img {
    object-fit: contain;
  }
}

.hiddenStage {
  position: absolute;
  z-index: -1000;
  display: none;
  pointer-events: none;
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #888;
  font-size: 14px;
}

:global(.tooltip) {
  pointer-events: none;
  text-wrap: nowrap;
  opacity: 0;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-125%);
  padding: 2px 4px;
  border-radius: 5px;
  border: 1px solid var(--gray-6);
  background-color: var(--gray-3);

  color: var(--gray-11);
  font-size: var(--font-size-sm);
  font-weight: 800;
  z-index: 1000;

  transition: opacity 0.15s ease-in-out;

  &:global(.show) {
    opacity: 1;
  }
}
