@use "@/_theme" as *;

.previewContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  background: var(--gray-1);

  img {
    object-fit: contain;
  }
}

.hiddenStage {
  position: absolute;
  z-index: -1000;
  display: none;
  pointer-events: none;
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.loadingOverlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  z-index: 10;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--gray-9);
  font-size: 14px;
}

.tooltip {
  pointer-events: none;
  text-wrap: nowrap;

  padding: 2px 4px;
  border-radius: 5px;
  border: 1px solid var(--gray-6);
  background-color: var(--gray-3);

  color: var(--gray-11);
  font-size: var(--font-size-sm);
  font-weight: 800;
}
