@use "@/_theme" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .label {
    @include label;
  }

  .grid {
    display: grid;
    grid-template-columns: min-content 75px 1fr;
    gap: 15px;
    row-gap: 2px;

    label {
      text-wrap: nowrap;
    }

    & > * {
      align-self: center;
    }
  }
}
