.wrapper {
  display: flex;
  gap: 10px;

  --list-gap: 5px;
  --item-height: 35px;
  --wrapper-width: 0px;
}

.places {
  display: flex;
  flex-direction: column;
  gap: var(--list-gap);

  span {
    padding-left: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--item-height);

    font-size: 25px;
    font-weight: 900;
    color: var(--gray-12);
  }

  span::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 350px;
    height: 100%;
    background-color: var(--gray-4);
  }

  span:nth-child(1) {
    color: var(--amber-9);
  }

  span:nth-child(2) {
    color: var(--gray-9);
  }

  span:nth-child(3) {
    color: var(--amber-7);
  }
}

.list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--list-gap);

  .item {
    user-select: none;
    cursor: pointer;

    height: var(--item-height);
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 10px;
    background-color: var(--gray-3);
    border: 1px solid var(--gray-6);
    border-radius: 5px;

    span {
      font-size: 14px;
      font-weight: 800;
      color: var(--gray-12);
    }

    .header {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .dragHandle {
      cursor: grab;
      display: flex;
      align-items: center;
      justify-content: center;

      height: 100%;
      width: auto;
      border-radius: 5px;

      background-color: var(--gray-4);
    }

    .formWrapper {
      overflow: hidden;
    }

    .form {
      padding-top: 10px;
    }

    &:not(.selected):hover {
      border-color: var(--gray-8);
    }

    &.selected {
      outline: 2px solid var(--accent-9);
      outline-offset: -2px;
    }
  }
}
