.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    user-select: none;

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
  }

  .dragHandle {
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
  }
}
