@use "@/_theme" as *;

.createMinimalTemplateModal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 300px;
}

.title {
  font-size: var(--title-size);
  font-weight: 800;
}

.description {
  font-size: var(--font-size-md);
  color: var(--gray-11);
  margin-bottom: 5px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  @include label;
}
