@use "@/_theme" as *;

div.assetManager {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 4px;
  }

  .label {
    @include label;
  }
}
