.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .basicConfig {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .content {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }
}
