.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;

  h3 {
    font-size: 14px;
    font-weight: 500;
    color: var(--accent-9);
  }

  .palette {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 3px;

    .row {
      display: flex;
      align-items: center;
      gap: 10px;

      &:has(input:hover),
      &:has(label:hover) {
        background-color: var(--accent-3);
        cursor: pointer;
      }
    }

    input {
      width: 25px;
      height: 25px;
      outline: none;
      border: none;
      cursor: pointer;
    }

    label {
      flex: 1;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
