.root {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  width: 100vw;
  height: 100svh;

  main {
    flex: 1;
    display: flex;
  }
}

.nav {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 32px;
    height: 32px;
  }

  svg {
    cursor: pointer;
    width: 32px;
    height: 32px;
    color: var(--accent-9);
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--accent-10);
    }
  }
}

.drawer {
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    text-transform: uppercase;

    &.active {
      &:before {
        background-color: white;
      }
    }

    &:before {
      content: "";
      z-index: 1000;
      position: absolute;
      bottom: 0;
      left: 0;
      margin-bottom: -5px;
      width: 100%;
      height: 5px;
      background-color: transparent;
      transition: background-color 0.15s ease-in-out;
    }

    &:hover {
      &:before {
        background-color: white;
      }
    }
  }

  &.open {
    transform: translateX(0);
  }
}
