.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.description {
  font-size: var(--font-size-sm);
  color: var(--gray-9);
  line-height: 1.5;
  margin: 0;
}

.textList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.textItem {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--accent-9);
  line-height: 1;
}

.empty {
  padding: 20px;
  text-align: center;
  color: var(--gray-8);

  p {
    margin: 0;
    
    &:first-child {
      font-size: var(--font-size-md);
      font-weight: 600;
      color: var(--gray-9);
    }
  }

  .hint {
    margin-top: 8px;
    font-size: var(--font-size-sm);
  }
}

