@use "@/_theme" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--form-gap);

  .label {
    @include label;
    margin-bottom: 4px;
  }

  .backgroundImg {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
