.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .label {
    line-height: 1;
    font-size: var(--font-size-sm);
    font-weight: 600;
    color: var(--accent-9);
    margin-bottom: 4px;
  }

  .backgroundImg {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
