.header {
  background-color: var(--gray-3);
  padding: 10px;
  margin-block: 10px;
  border-radius: 5px;

  overflow-x: scroll;
  overflow-y: hidden;

  display: flex;
  flex-direction: row;

  > * {
    border-left: 1px solid var(--gray-8);
    border-right: 1px solid var(--gray-8);
    padding-inline: 14px;
  }

  > *:first-child {
    border-left: none;
  }

  > *:last-child {
    border-right: none;
  }
}

.item {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.tournamentLoader {
  input {
    width: 400px;
  }
}
