.header {
  background-color: var(--gray-3);
  padding: 10px;
  margin-block: 10px;
  border-radius: 5px;

  overflow-x: scroll;
  overflow-y: hidden;

  display: flex;
  flex-direction: row;
  gap: 15px;
}

.item {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.tournamentLoader {
  input {
    width: 400px;
  }
}
