.header {
  padding-block: 10px;
  display: flex;

  background: linear-gradient(
    24deg,
    var(--accent-2),
    var(--accent-1),
    var(--accent-2)
  );
  border-top: 1px solid var(--accent-1);
  border-bottom: 1px solid var(--accent-1);

  > * {
    border-left: 1px solid var(--accent-4);
    border-right: 1px solid var(--accent-4);
    padding-inline: 14px;
  }

  > *:first-child {
    border-left: none;
  }

  > *:last-child {
    border-right: none;
  }

  [data-theme="light"] & {
    background: linear-gradient(
      24deg,
      var(--accent-11),
      var(--accent-12),
      var(--accent-11)
    );
    border-top: 1px solid var(--accent-10);
    border-bottom: 1px solid var(--accent-10);

    > * {
      border-left: 1px solid var(--accent-9);
      border-right: 1px solid var(--accent-9);
    }
  }
}

.item {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.tournamentLoader {
  input {
    width: 400px;
  }
}
