.header {
  background: linear-gradient(
    24deg,
    var(--accent-2),
    var(--accent-1),
    var(--accent-2)
  );
  border-top: 1px solid var(--accent-1);
  border-bottom: 1px solid var(--accent-1);
  padding-block: 10px 0;

  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-gutter: stable;

  display: flex;
  flex-direction: row;

  > * {
    border-left: 1px solid var(--gray-8);
    border-right: 1px solid var(--gray-8);
    padding-inline: 14px;
  }

  > *:first-child {
    border-left: none;
  }

  > *:last-child {
    border-right: none;
  }
}

.item {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.tournamentLoader {
  input {
    width: 400px;
  }
}
