.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 20px;
  width: 100%;
  flex: 1;

  h1 {
    margin-block: 10px;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.tools {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  button {
    img {
      width: 20px;
      height: 20px;
    }
  }
}
