@use "@/_theme" as *;

div.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 4px;

  .label {
    @include label;
    justify-self: flex-start;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 4px;
  }
}
