.root {
  display: flex;
  flex-direction: row;
  gap: 25px;

  margin: auto;
}

.playerConfig {
  max-width: 0;
  width: 250px;
  transition: max-width 0.2s ease-in-out;
}

.playerConfig.open {
  max-width: 250px;
}
