@use "@/_theme" as *;

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  min-width: 80px;
  min-height: 58px;
  padding: 4px;
  color: #000;
  user-select: none;
  word-break: break-word;
}

.text {
  cursor: pointer;
  text-align: center;
  word-break: break-word;
}

.topLabel {
  width: auto;
  min-width: 80px;
  min-height: unset;
  padding: 4px 12px;
  border-radius: 4px 4px 0 0;
}

.fancyLabel {
  border-radius: 0;
}

.input {
  width: calc(100% - 8px);
  text-align: center;
  font: inherit;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 2px;
  color: #000;
}
