.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  h1 {
    font-size: 25px;
    font-weight: 600;
    color: var(--accent-9);
    line-height: 1;
  }

  p {
    font-size: var(--font-size-lg);
    line-height: 1.5;
  }
}

.buttons {
  display: flex;
  gap: 10px;

  .cancelButton {
    background-color: var(--gray-1);
    border-color: var(--gray-6);
    color: var(--gray-9);

    &:hover {
      background-color: var(--gray-4);
      border-color: var(--gray-10);
    }
  }

  .confirmButton {
    background-color: var(--accent-9);
    color: white;
  }
}

.cookieInput {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    font-size: var(--font-size-sm);
  }
}
