.tabNav {
  --border-width: 3px;

  display: flex;

  overflow-x: auto;
  height: max-content;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    flex: 1;
    position: relative;
    padding: 5px 10px;

    border: none;
    background-color: transparent;
    color: var(--gray-12);
    font-size: var(--font-size-sm);
    font-weight: 900;
    cursor: pointer;

    border-bottom: var(--border-width) solid var(--gray-6);

    .label {
      padding: 3px;
      width: min-content;
      height: min-content;
      transition: background-color 0.1s ease-in-out;
    }

    &:hover {
      border-color: var(--gray-3);
      div {
        background-color: var(--gray-4);
      }
    }

    &.active {
      border-color: var(--accent-9);
    }
  }
}
