.tabNav {
  --border-width: 3px;

  display: flex;

  overflow-x: auto;
  height: max-content;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    flex: 1;
    position: relative;
    padding: var(--space-1) var(--space-2);

    border: none;
    background-color: transparent;
    color: var(--fg-1);
    font-size: var(--font-size-sm);
    font-weight: 900;
    cursor: pointer;

    border-bottom: var(--border-width) solid var(--border-strong);

    .label {
      padding: var(--space-1);
      width: min-content;
      height: min-content;
      transition: background-color var(--duration-fast) var(--ease-in-out);
    }

    &:hover {
      border-color: var(--gray-3);
      div {
        background-color: var(--gray-4);
      }
    }

    &.active {
      border-color: var(--accent-9);
    }
  }
}
