.assetSelector {
  display: flex;
  justify-content: center;
  gap: 20px;

  .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid var(--gray-10);
    border-radius: 5px;
    overflow: hidden;

    cursor: pointer;

    &:hover {
      border-color: var(--gray-8);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    width: 150px;
  }
}

.assetSelectorModal {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .assets {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-auto-rows: 100px;
    gap: 10px;

    .asset {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      border: 1px solid #ccc;
      border-radius: 5px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &:hover {
        border-color: var(--accent-9);
      }
    }
  }
}
