.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &.labelInLine {
    flex-direction: row;
    align-items: center;
    gap: 6px;
  }

  label {
    font-size: var(--font-size-sm);
    line-height: 1;
    font-weight: 500;
    color: var(--accent-9);
  }

  input {
    padding: var(--input-padding-sm);
    background-color: var(--gray-1);

    color: white;
    font-size: var(--font-size-md);

    border-radius: 5px;
    border: 1px solid var(--gray-6);

    &:focus {
      outline: 1px solid var(--accent-9);
      border-color: var(--accent-9);
    }
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
  }

  input[type="checkbox"] {
    cursor: pointer;
    position: relative;
    box-sizing: content-box;
    padding: 1px;
    width: 16px;
    height: 16px;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;

    &::before {
      content: "";
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
    }

    &:checked {
      background-color: var(--accent-9);
      border-color: var(--accent-9);

      &::before {
        content: "✓";
        color: white;
      }
    }

    &:focus {
      outline: 1px solid var(--accent-9);
      border-color: var(--accent-9);
    }
  }

  input:disabled {
    cursor: not-allowed;
  }

  &:has(input:disabled) {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
