.root {
  min-width: 100vw;
  max-width: 100vw;

  flex: 1;
  display: flex;
  flex-direction: column;
}

.body {
  flex: 1;
  display: flex;
  max-width: 100vw;

  height: var(--canvas-height);

  .canvasWrapper {
    flex: 1;
    padding: 20px 40px;
  }
}

.error {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
