.root {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 0;

  flex: 1;
  display: flex;
  flex-direction: column;
}

.body {
  flex: 1;
  display: flex;
  max-width: 100vw;
  min-height: 0;

  .canvasWrapper {
    flex: 1;
    min-width: 0;
    max-height: 100%;
    overflow: hidden;
  }

  .sidePanel {
    height: 100%;
  }
}

.error {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
