.root {
  flex: 1;
  display: flex;
  flex-direction: row;

  justify-content: center;
  gap: 25px;
}

.body {
  display: flex;
  flex-direction: row;
  gap: 25px;
  height: var(--canvas-height);

  .playerConfig {
    width: 350px;
    max-height: var(--canvas-height);
  }
}
