.root {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.body {
  display: flex;
  flex-direction: row;
  gap: 25px;
  height: var(--canvas-height);

  .playerList {
    width: 350px;
    max-height: var(--canvas-height);
    overflow: scroll;
  }
}
