.root {
  padding: 0 20px;

  flex: 1;
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: var(--canvas-height);

  .sidePanel {
    flex: 1;
    min-width: 300px;
    max-height: var(--canvas-height);
  }
}
