.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #222;
  cursor: pointer;

  &:hover:not(.disabled):not(:has(button:hover)) {
    background-color: #333;
  }

  &.isFileOver {
    border-color: var(--accent-9);
    background-color: #333;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 3px;

    span {
      font-size: var(--font-size-sm);
      color: white;
    }
  }

  .removeButton {
    position: absolute;
    bottom: 50%;
    right: 10px;
    transform: translateY(50%);
  }

  input {
    display: none;
  }

  span {
    pointer-events: none;
  }

  img {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
}
