@use "@/_theme" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--form-gap);
  flex: 1;
  min-height: 0;
  overflow-y: auto;

  input {
    font-size: var(--font-size-md);
  }

  .label {
    @include label;
  }

  .row {
    display: flex;
    gap: var(--form-gap);

    & > * {
      flex: 1;
      min-width: 0;
    }
  }
}
