.wrapper {
  position: relative;

  .color {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid var(--gray-6);
    background-color: var(--gray-1);

    &:hover {
      cursor: pointer;
      outline: 2px solid var(--accent-9);
    }
  }

  .picker {
    display: flex;
    flex-direction: column;
    gap: 10px;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;

    input {
      padding: var(--input-padding-sm);
      background-color: var(--gray-1);
      color: var(--gray-12);
      font-size: var(--font-size-md);
      font-weight: 600;
      border: 1px solid var(--gray-6);
      border-radius: 5px;
      text-align: center;
    }
  }
}
