/* @import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");

:root {
  --nav-height: 60px;
  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 18px;
  --title-size: 20px;
  --input-padding-sm: 4px 8px;
  --input-padding-md: 6px 12px;
  --input-padding-lg: 8px 16px;
  --form-gap: 10px;

  /* font-family: "Lexend", sans-serif; */
  /* font-family: "Noto Sans JP", sans-serif; */
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-optical-sizing: auto;

  @media (prefers-reduced-motion: reduce) {
    --transition-duration: 0s;
    --transition-delay: 0s;
    * {
      transition: none !important;
    }
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--accent-8) transparent;
  }

  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: white;
  }

  *::-webkit-scrollbar-thumb {
    background: var(--accent-8);
    border-radius: 5px;
  }
}

body {
  margin: 0;
  background-color: var(--gray-2);

  scrollbar-width: thin;
  scrollbar-color: var(--accent-8) transparent;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: white;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--accent-8);
    border-radius: 5px;
  }
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
