.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;

  input {
    font-size: 14px;
  }

  label {
    font-size: 12px;
    font-weight: 500;
    color: var(--accent-9);
  }

  .row {
    display: flex;
    gap: 5px;

    & > * {
      flex: 1;
      min-width: 0;
    }
  }
}
