.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;

  input {
    font-size: var(--font-size-md);
  }

  label {
    line-height: 1;
    font-size: var(--font-size-sm);
    font-weight: 600;
    color: var(--accent-9);
  }

  .row {
    display: flex;
    gap: 5px;

    & > * {
      flex: 1;
      min-width: 0;
    }
  }
}
