.assetsModal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.assets {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(6, 100px);
  grid-auto-rows: 100px;
  height: 350px;
  overflow-y: auto;
  gap: 10px;
  border: 1px solid var(--gray-3);
  border-radius: 5px;

  .asset {
    display: flex;

    width: 100px;
    height: 100px;
    border: 1px solid var(--gray-3);
    border-radius: 5px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
