.assetsModal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.assets {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(6, 100px);
  grid-auto-rows: 100px;
  height: 350px;
  overflow-y: auto;
  gap: 10px;
  border: 1px solid var(--gray-3);
  border-radius: 5px;

  .asset {
    position: relative;
    cursor: pointer;
    display: flex;

    width: 100px;
    height: 100px;
    border: 1px solid var(--gray-3);
    border-radius: 5px;

    .deleteButton {
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: var(--accent-9);
      border-radius: 5px;

      transition: opacity 0.1s ease-in-out;

      svg {
        margin: auto;
        width: 70%;
        height: 70%;
        color: #fff;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 5px;
    }

    &:hover {
      border-color: var(--gray-7);
    }

    &.selected {
      border-color: var(--accent-9);

      &:hover {
        .deleteButton {
          opacity: 1;
        }
      }
    }
  }
}
