@use "@/_theme" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--form-gap);
  flex: 1;
  min-height: 0;
  overflow-y: auto;

  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .label {
    @include label;
    margin-bottom: var(--space-1);
  }

  .row {
    display: flex;
    gap: var(--form-gap);

    > * {
      flex: 1;
      min-width: 0;
    }
  }

  .placementField {
    flex: 0 0 80px;
  }

  .assetRow {
    display: flex;
    gap: var(--form-gap);

    > * {
      flex: 1;
      min-width: 0;
    }
  }
}

.playerSelector {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(32px, auto);
  background-color: var(--gray-3);
  border: 1px solid var(--gray-3);
  gap: 1px;
  flex-shrink: 0;

  overflow-x: auto;
  white-space: nowrap;

  button {
    border-radius: 0;
    background-color: var(--gray-1);

    &:global(.selected) {
      background-color: var(--accent-9);
      color: #fff;
    }
  }
}

@include mobile {
  .playerSelector {
    position: sticky;
    top: 0;
    z-index: 10;
  }
}
