.canvasContainer {
  --canvas-padding: 40px;

  position: relative;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  scrollbar-gutter: stable;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--canvas-padding) var(--canvas-padding);

  &.hidden {
    display: none;
  }

  .loader {
    background: var(--gray-1);
    position: absolute;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .canvasWrapper {
    --display-scale: 1;
    width: calc(var(--canvas-width) * var(--display-scale));
    height: calc(var(--canvas-height) * var(--display-scale));
    transform: scale(var(--display-scale));
    transform-origin: top left;
  }

  .controls {
    z-index: 2;
    width: fit-content;
    padding: 10px;
    position: sticky;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: auto;
    border-radius: 6px;
    background-color: var(--gray-5);

    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

    span {
      width: 50px;
      text-align: center;
      font-size: var(--font-size-sm);
      font-weight: 600;
      color: var(--accent-9);
    }

    button {
      text-wrap: nowrap;
    }

    input[type="range"] {
      width: 200px;
    }
  }
}
