.canvasContainer {
  position: relative;

  &.hidden {
    display: none;
  }

  .canvasWrapper {
    border: 2px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;

    transform: scale(var(--display-scale));
    transform-origin: top left;
  }
}
