.canvasContainer {
  position: relative;

  .canvasWrapper {
    border: 2px solid #ccc;
    position: absolute;
    top: 0;
    left: 0;

    transform: scale(var(--display-scale));
    transform-origin: top left;
  }
}
