.canvasContainer {
  position: relative;
  max-width: 1920px;

  &.hidden {
    display: none;
  }

  .loader {
    background: var(--gray-1);
    position: absolute;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .canvasWrapper {
    border: 2px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;

    transform: scale(var(--display-scale));
    transform-origin: top left;
  }
}
